
@{
    ViewData["Title"] = "Create";
}
<script src="~/clipboard.js-master/dist/clipboard.min.js"></script>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header bg-transparent">
                Register
            </div>
            <div class="card-body">
             
                <div class="form-group">
                    <label for="exampleInputPassword1">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber" aria-describedby="emailHelp" placeholder="Phone Number">
                </div>
                <button type="submit" id="btnSaveInfo" class="btn btn-primary has-spinner">Submit</button>
            </div>

        </div>



    </div>
    <div class="col-6">

        <div class="card">
            <div class="card-header bg-transparent">
                Keys
            </div>


            <div class="card-body">
                <div class="form-group">
                    <label>Private Key</label>
                    <!-- Trigger -->
                    <button class="copy btn btn-outline-info btn-sm" data-clipboard-target="#privateKey">
                        Copy
                    </button>
                    <!-- Target -->
                    <textarea class="form-control" id="privateKey" rows="3" readonly></textarea>
                    <br />
                    <div class="alert alert-danger" role="alert">
                        Don't share your <strong>Private Key</strong> with anyone!
                    </div>
                </div>
                <hr />

                <div class="form-group">
                    <label>Public Key</label>
                    <!-- Trigger -->
                    <button class="copy btn btn-outline-info btn-sm" data-clipboard-target="#publicKey">
                        Copy
                    </button>
                    <!-- Target -->
                    <textarea class="form-control" id="publicKey" rows="4" readonly></textarea>


                </div>

            </div>


        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        new ClipboardJS('.copy')

        $("#btnSaveInfo").click(function () {
            var model =
            {
                PhoneNumber: $("#phoneNumber").val(),
                Name: $("#name").val()
            };
            var _url = "/api/profile/GetNewWallet";
            $.ajax({
                type: "POST",
                url: _url,
                data: model, // serializes the form's elements.

                success: function (data) {
                    console.log("update : ", data);
                    $('#privateKey').text(data.privateKey);
                    $('#publicKey').text(data.publicKey);


                },
                error: function (jqxhr, textstatus, errorthrown) {
                    jsonValue = jQuery.parseJSON(jqxhr.responseText);
                    alert(jsonValue.Message);
                },
                complete: function () {
                }
            });
        });

    });


</script>